# registry=https://npm.pkg.github.com/ebs-integrator
@ebs-integrator:registry=https://npm.pkg.github.com
# WARNING: Personal acess token
//npm.pkg.github.com/:_authToken=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