# registry=https://npm.pkg.github.com/ebs-integrator
@ebs-integrator:registry=https://npm.pkg.github.com
# WARNING: Personal acess token
//npm.pkg.github.com/:_authToken=596ba32899f878a0ecd539cb502ee2aca781a9ad